/* Apply a font alteration to a span function called #name */
#name {
    font-family: arial;
    font-size: 40px;
    text-emphasis: underline;
    color: White;
    opacity: 0.8;
}

/* change the font of the .about class to cursive */
.about {
    font-family: cursive;
}

/* change the global heading h3 to the colour red */
h1 {
    padding-left: 15px;
    padding-right: 15px;
}

/* change the global heading h3 to the colour red */
h3, h5 {
    padding-left: 15px;
    padding-right: 15px;
    color: #f0e2bd;
}


/* change the colour of a list as you hover over the link to blue */
li:hover {
    color: blue;
}

/* change the heading h4 in the about section to orange */
h4.about {
    color: orange;
}

/* change the p padding in the about section to orange */
p {
    padding-left: 15px;
    padding-right: 15px;
}

/* container */
.container {
    margin-left: 10px;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* header */
.header {
    background-color: #06152d;
    color: #fff;
    margin-bottom: 24px;
    padding: 24px 1rem;
    text-align: center;
}

/* section */
.section {
    padding: 0.5rem 1rem 1rem 1rem;
}

div.frame {
    width: 50%;
    background-color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
  }

div.image_container {
    text-align: center;
    padding: 10px 10px;
  }


/* =====================================
Homepage
=====================================*/
.home-background {
    margin: 0;
    padding: 0;
    background-color: #1f69e0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.outer {
    width: 200px;
    margin-left: 10px
    /* 0 auto; */
    /* background-color: yellow; */
}

.inner {
    margin-left: 20px;
    /* background-color: grey; */
}


/* =====================================
CS50x Page
=====================================*/

.cs50x-background {
    background-color: #1f69e0;
}

table {
    background-color: black;
    width: 80%;
    margin: 40px;
    text-align: center;
    align-self: center;
    border: 2px white;
}

th, td {
    padding: 25px;
    color: white;
    font-size: 20px;
    border: 2px solid white;
}

.summary {
    font-size: 15px;
    text-align: left;
}






/* =====================================
Navigation Bar =====================================
*/
.navBar {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    background-color: #000;
    color: #FFF
}

/* Navigation Text on NavBar */
.brand-title {
    margin: 0 5px;
    padding-right: 35px;
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 100;
    text-decoration: none;
}

.brand-title:hover {
    color: #FFF;
}

.navBar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navBar-links li {
    list-style: none;
}

.navBar-links li a {
    color: #EEE;
    display: flex;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 100;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}

.navBar-links li a:hover {
    transform: translateY(5%);
    color: #111;
    background-color: #CCC;
    border-top: 1pt solid grey;
}


/* Creating Hamburger Menu */
.toggle-button {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 35px;
    top: 1.15rem;
    right: 0.65rem;
}

.toggle-button .bar {
    background-color: white;
    height: 3px;
    width: 100%;
    border-radius: 10px;
}

/* Media Query for Mobile Hamburger Menu (Responsive) */
@media (max-width: 950px) {
    .toggle-button {
        display: flex;

    }
    .navBar-links {
        width: 100%;
        display: none;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navBar-links ul {
        width: 100%;
        flex-direction: column;

    }
    .navBar-links li {
        text-align: center;
        border-bottom: 1pt solid #252525;
    }

    .navBar-links li a{
        padding: .5rem 0.5rem;
    }
    .navBar-links.active {
        display: flex;
    }
}


/* Scroll to top style */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }

  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


