{% extends "layout.html" %}

{% block title %}
    Reminders
{% endblock %}

{% block main %}

<link href="/static/styles.css" type="text/css" rel="stylesheet">

<h3>Reminders</h3>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Reminders</th>
        <th scope="col">Priority</th>
        <th scope="col">Completion Date</th>
        <th scope="col">Complete</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for row in reminders_database %}
        <tr>
          <td>{{ row["Content"] }}</td>
          <td>{{ row["Priority"] }}</td>
          <td>{{ row["Completion_Date"] }}</td>
          <td>
            <form action="{{ ('complete_reminder') }}" method="post">
              <input type="hidden" name="id" value="{{ row["id"] }}">
              <input type="submit" value="✓">
            </form>
          </td>
          <td>
            <form action="{{ ('delete_reminder') }}" method="post">
              <input type="hidden" name="id" value="{{ row["id"] }}">
              <input type="submit" value="X">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>


<h3>Archive</h3>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Reminders</th>
        <th scope="col">Priority</th>
        <th scope="col">Completion Date</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for row in reminders_archive_database %}
        <tr>
          <td>{{ row["Content"] }}</td>
          <td>{{ row["Priority"] }}</td>
          <td>{{ row["Completion_Date"] }}</td>
          <td>
            <form action="{{ ('delete_reminder_archive') }}" method="post">
              <input type="hidden" name="id" value="{{ row["id"] }}">
              <input type="submit" value="X">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}
