body {
    background-color: blue;
}

border {

}

text {
    color: #hex;
}

font-size; absolute size, relative size

font-family: font name, generic name

text-align: left, right, center, justify

h2 {
    font-family: times;
    color: #fefefe;
}

#unique {
    border: 4px dotted blue;
    text-align: right;
}

using a class
.students {
    background-color: yellow;
    opacity: 0.7;
}



table {
    border: 5px solid red;
}

tr {
    height: 50px;
}

td {
    background-color: black; /* baackground color*/
    color: white; /* foreground (text) color*/
    font-size:22px;
    text-family: georgia;
    text-align; center;
    width: 50px; /*width of each cell*/

}
